$text-color:#606c76;

$primary-color:#F17059;
$primary-hover-color:#ED816D;
$primary-shadow-color:rgba(241,112,89,0.81);

$secondary-color:#15C39A;
$secondary-hover-color:#48BFA3;
$secondary-shadow-color:rgba(21,195,154,0.81);

$nav-link-color:#888888;

$color-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;