@import './_config.scss';

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: $color-transition;
    outline:0;
    border-radius:4px;
    color: $text-color;
}

.btn:hover{
    cursor:pointer;
}

.btn.default:hover{
    background:rgba(0,0,0,0.05);
}

.btn.default-shadow{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.12);
}

.btn.default-shadow:hover{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.12);
}

.btn.default-shadow:hover{
    box-shadow:0px 2px 16px rgba(0,0,0,0.12);
}

.btn.primary{
    background:$primary-color;
    color:white;
}

.btn.primary:hover{
    background-color:$primary-hover-color;
}

.btn.primary-shadow{
    background:$primary-color;
    color:white;
    box-shadow:0px 0px 5px $primary-shadow-color;
}

.btn.primary-shadow:hover{
    box-shadow:0px 0px 10px $primary-shadow-color;
}

.btn.primary-outline{
    border: 1px solid $primary-color;
    color: $primary-color;
    background-color: white;
}

.btn.primary-outline:hover{
    background-color: $primary-color;
    color: white;
}

.btn.secondary{
    background-color:$secondary-color;
    color:white;
}

.btn.secondary:hover{
    background-color: $secondary-hover-color;
}

.btn.secondary-shadow{
    background:$secondary-color;
    color:white;
    box-shadow:0px 0px 5px $secondary-shadow-color;
}

.btn.secondary-shadow:hover{
    box-shadow:0px 0px 10px $secondary-shadow-color;
}

.btn.secondary-outline{
    border: 1px solid $secondary-color;
    color: $secondary-color;
    background-color: white;
}

.btn.secondary-outline:hover{
    background-color: $secondary-color;
    color: white;
}
