.card {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 10px;
  width: 100%;
  position: relative;
}

.card-content {
  background-color: #ffffff;

}

.card-img{
    width: 100%;
    background-color: #F2F4F5;
    border-radius: 4px;
    padding-bottom: 75%;
}

.card-title{
    font-size:22px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    font-weight: bold;
    margin-top: 0.5em;
}

.card-description{
    margin-top: 0.5em;
}

.card-title>a{
    text-decoration: none;
    color: inherit;
    transition: $color-transition;
}

.card-title>a:hover{
    color:#ED816D !important;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .card {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .card {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@media (min-width: 1200px) {
}
