$font-dir:"../font/";//存放字体的url目录，根据部署情况修改

@font-face {
    font-family: "jambo";
    font-weight: 100;
    src: url($font-dir+'webfont-light.eot'); /* IE9 */
    src: url($font-dir+'webfont-light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url($font-dir+'webfont-light.woff') format('woff'), /* chrome、firefox */
    url($font-dir+'webfont-light.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url($font-dir+'webfont-light.svg#webfont') format('svg'); /* iOS 4.1- */
  }
  
  @font-face {
    font-family: "jambo";
    font-weight: 500;
    src: url($font-dir+'webfont-regular.eot'); /* IE9 */
    src: url($font-dir+'webfont-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url($font-dir+'webfont-regular.woff') format('woff'), /* chrome、firefox */
    url($font-dir+'webfont-regular.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url($font-dir+'webfont-regular.svg#webfont') format('svg'); /* iOS 4.1- */
  }
  
  [lang="zh-CN"]{
    font-family: "jambo" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }