.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.12);
    z-index: 100;
    display: none;
}

.modal-container.open {
    display: block;
}

.modal {
    background-color: white;
    z-index: 101;
    width: 400px;
    height: 400px;
    margin-left: auto;
    padding: 2rem;
    margin-right: auto;
    border-radius: 4px;
    margin-top: 100px;
}

.close-button {
    font-size: 2rem;
    cursor: pointer;
}


//当弹窗打开添加在body上，用于禁用滑动
.modal-opened{
    overflow: hidden;
}