<html lang="zh-CN">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../jamboUI/jamboUI.min.css">
    <script src="../jamboUI/jamboUI.min.js"></script>
    <title>拓学jambo</title>
    <!-- <script>
        document.querySelector("icon jambo-close close-button").onclick=close();
        function close(){

        }
    </script> -->
    <style>
        
    </style>
</head>

<body class="body-with-navbar">
    <!--页头-->
    <header class="navbar">
        <div class="navbar-container">
            <div class="navbar-item">
                <h1 class="navbar-title">拓学jambo</h1>
            </div>
            <div class="flex-grow-1"></div>
            <div id="menu-button" class="navbar-item">
                <span class="icon jambo-menu d-md-none fs-4 lh-1"></span>
            </div>
            <nav class="nav-link-container">
                <a class="nav-link active" href="#">首页</a>
                <hr class="nav-divider">
                <a class="nav-link" href="#">出境游</a>
                <a class="nav-link" href="#">周边游</a>
                <a class="nav-link" href="#">游记</a>
                <hr class="nav-divider">
                <a id="sign-in" class="nav-link" href="#">登录</a>
                <a id="sign-on" class="nav-link" href="#">注册</a>
            </nav>
        </div>
        <div class="modal-container">
            <div class="modal">
                <div class="d-flex">
                    <div class="flex-grow-1"></div>
                    <div class="icon jambo-close close-button"></div>
                </div>
                <div class="resp-title">登录</div>
                <div class="input-container">
                    <input type="text" name="test" placeholder="用户名" id="username">
                    <div class="feedback"></div>
                </div>
                <div class="input-container">
                    <input type="password" name="" placeholder="密码" id="password">
                    <div class="feedback"></div>
                </div>
                <div id="button">
                    <div class="btn wide primary">登录</div>
                </div>
            </div>
        </div>
    </header>
    <div id="main">
        <div class="container my-5">
            <div style="height: 1000px"></div>
        </div>
    </div>
    <!--页脚-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mb-5">
                    <div class="resp-title">拓学jambo</div>
                    <div class="mt-3"><a href="#" class="link">关于我们</a></div>
                    <div class="mt-3"><a href="#" class="link">隐私政策</a></div>
                    <div class="mt-3"><a href="#" class="link">网站地图</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5">
                    <div class="resp-title">发现</div>
                    <div class="mt-3"><a href="#" class="link">工作机会</a></div>
                    <div class="mt-3"><a href="#" class="link">商务合作</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5">
                    <div class="resp-title">友情链接</div>
                    <div class="mt-3"><a href="#" class="link">el</a></div>
                    <div class="mt-3"><a href="#" class="link">西浦卢姥爷</a></div>
                    <div class="mt-3"><a href="#" class="link">aiuk</a></div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mb-5">
                    <div class="resp-title">联系我们</div>
                    <div class="mt-3"><a href="#" class="link">微信公众号</a></div>
                    <div class="mt-3"><a href="#" class="link">xxxxxx@sina.com</a></div>
                </div>
            </div>
        </div>
    </footer>
    <!--页脚-->
</body>

</html>